body{
    background-color: #fff !important;
  }
  #barraSuperior{
    color: #fff !important;
    background-color: #428bca;
    height: 50px;
  }
  #barraSuperior div{
    padding-top: 10px;
  }
  #barraSuperior div #login{
    padding-top: 4px !important;
  }
  #login{
    text-align: right !important;
  }
  #login a{
    color: #fff;
  }
  #login ul li a{
    color:  #737373 !important;
  }
  /*Sidebar Lateral*/
  body,html,.row-offcanvas {
    height:95%;
  }
  #sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color:#f5f5f5;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
  }
  #main {
    height:100%;
    overflow:auto;
  }
  #corpopagina{
    margin-top: 20px;
  }
  /*
   * off Canvas sidebar
   * --------------------------------------------------
   */
  @media screen and (max-width: 768px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
      width:calc(100% + 220px);
    }
    .row-offcanvas-left
    {
      left: -220px;
    }
    .row-offcanvas-left.active {
      left: 0;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
    }
  }